<head>
    <meta charset="utf-8">
    <title>paymentsApp register</title>
    <link rel="stylesheet" href="/style.css">
</head>



<body> 
  <header>
    <div class="header-container">
        <h1><a href="/">支払管理システム</a></h1>
        <div class="header-list">
            <ul>
                <li><a href="/table">一覧表</a></li>
                <li><a href="/register">新規登録</a></li>
            </ul>
        </div>
    </div> 
  </header>

    <div class="register-title">
        <h1>登録の編集</h1> 
    </div>

    <div class="register-form">
    <form action="/update/<%= editItem.id %>" method="POST">
        <div class="register-box">
            <label for="account_category">勘定科目:</label>
            <select name="account_category" id="account_category" required>
                <% const categoryList = ["変動費", "販管費"]; %>
              
                <% categoryList.forEach(function(cat) { %>
                  <option value="<%= cat %>" <%= editItem.account_category === cat ? "selected" : "" %>>
                    <%= cat %>
                  </option>
                <% }) %>
              </select>
        </div>

        <div class="register-box">
            <label for="payee">支払先:</label>
            <input id="payee" name="payee" value="<%= editItem.payee %>">
        </div>

        <div class="register-box">
            <label for="amount">金額:</label>
            <input id="amount" name="amount" value="<%= editItem.amount %>">
        </div>

        <div class="register-box">
            <label for="payment_month">支払月:</label>
            <input id="payment_month" type="month" name="payment_month" value="<%= editItem.payment_month %>">
        </div>

        <div class="register-box">
            <label for="payment_method">支払種別:</label>
            <select name="payment_method" id="payment_method" required>
                <% const methodList = ["振込", "口座振替","クレジットカード"]; %>
              
                <% methodList.forEach(function(cat) { %>
                  <option value="<%= cat %>" <%= editItem.payment_method === cat ? "selected" : "" %>>
                    <%= cat %>
                  </option>
                <% }) %>
              </select>
              <div class="register-button">
                <button type="submit"><span>登録する</span></button>
              </div>
        </div>

        

    </form>
    </div>

   
  
    

</body>